.grid {
    grid-auto-columns: auto;
}

.card {
    align-items: center;
    margin-top: 25px;
    margin-right: 25px
}

.card-title {
    font-weight: bold;
    color: #800020
}

@media (max-width: 500px) {

    .navbar {
        padding: 0px 0px;
    }
    
    a.navbar-brand {
        font-weight: bold;
        padding-left: 10px;
    }
    
    ul.dropdown-menu.show {
        background-color: white
    }
    .nav-item {
        padding-left: 10px
    }
    .container-fluid {
        background-color: #800020;
    }
    
    a {
        color: white;
    }
    

}